{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node-type-' ~ node.bundle|clean_class,
	'node-content',
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
  ]
%}

{% if teaser %}
<div{{ attributes.addClass('team-teaser speaker-teaser') }}>
	{{ title_prefix }}
	{{ title_suffix }}
		<div class="team-thumb">
		{{ content.field_image }}		
		{% if speaker_modal == 'speaker-modal' %}
		<div class="team-quick-view"><a href="{{ url }}" class="team-link use-ajax" data-dialog-options="{&quot;width&quot;:680}" data-dialog-type="modal">View</a></div>
		{% endif %}	
		{% if content.field_facebook_link|render or content.field_twitter_link|render or content.field_linkedin_link|render %}
		<div class="toggle-content-wrap">
			<div class="toggle-content colored-social team-social">
				<div class="toggle-content-inner social-icons">
				{% if content.field_facebook_link | render %}
				<a target="_blank" href="{{ content.field_facebook_link.0['#url'] }}" class="fa fa-facebook facebook"></a>
				{% endif %}
				{% if content.field_twitter_link | render %}
				<a target="_blank" href="{{ content.field_twitter_link.0['#url'] }}" class="fa fa-twitter twitter"></a>
				{% endif %}
				{% if content.field_linkedin_link | render %}
				<a target="_blank" href="{{ content.field_linkedin_link.0['#url'] }}" class="fa fa-linkedin linkedin"></a>
				{% endif %}
				</div>
				<span class="toggle-nav team-social-btn ion-android-share-alt"></span>
			</div>
		</div>
		{% endif %}
		</div>
		
		<div class="team-meta-wrap">
		<div class="team-meta">
			<h5 class="team-name">
			{% if speaker_modal == 'speaker-modal' %}
			{{ label }}
			{% else %}
			<a href="{{ url }}">{{ label }}</a>
			{% endif %}
			</h5>
			<div class="team-position">{{ node.field_position.value }}</div>			
		</div>
		</div>
</div>

{% else %}

<div{{ attributes.addClass(classes) }}>
	{{ title_prefix }}
	{{ title_suffix }}
	  
	<div class="team-content">
		<div class="row">
		<div class="col-sm-5 team-thumb">
		{{ content.field_image }}
		</div>

		<div class="col-sm-7 team-detail">
			<div class="team-meta">
			<h2 class="team-name">{{ label }}</h2>
			{% if content.field_position | render %}
			<div class="team-position">{{ node.field_position.value }}</div>
			{% endif %}		
			</div>
			{% if content.body | render %}
			<div class="team-body">{{ content.body }}</div>
			{% endif %}
			<div class="colored-social team-social">
				{% if content.field_facebook_link | render %}
				<a target="_blank" href="{{ content.field_facebook_link.0['#url'] }}" class="fa fa-facebook facebook"></a>
				{% endif %}
				{% if content.field_twitter_link | render %}
				<a target="_blank" href="{{ content.field_twitter_link.0['#url'] }}" class="fa fa-twitter twitter"></a>
				{% endif %}
				{% if content.field_linkedin_link | render %}
				<a target="_blank" href="{{ content.field_linkedin_link.0['#url'] }}" class="fa fa-linkedin linkedin"></a>
				{% endif %}
			</div>
		</div>
		</div>
	</div>
</div>
{% endif %}