{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
	'pricing-table',
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {{ title_suffix }}
	<div class="text-center pricing-wrap">
		<div class="pricing-header">
			<div class="pricing-name">{{ label }}</div>
			<div class="pricing-pice">{{ content.field_pricing_price }}</div>
			{% if content.body | render %}
			<div class="text-sm pricing-body">{{ content.body }}</div>
			{% endif %}
		</div>
		<div class="pricing-content">
			{% if content.field_pricing_feature | render %}
			<div class="pricing-features">{{ content.field_pricing_feature }}</div>
			{% endif %}
				
			{% if content.field_link | render %}
			<div class="pricing-btn">
			<a href="{{ content.field_link.0['#url'] }}" class="button">{{ content.field_link.0['#title'] }}</a>
			</div>
			{% endif %}
		</div>
	</div>
</div>